body {
  background-color: #f5f5f5;
  /* text-align: center; */
}

.globalBox {
  width: 1440px;
   /* height: 2534px; */
  height: 2300px;
  left: 14%;
  border: 1px solid red;
  position: absolute;
}
