.HomeHeader {
  height: 28px;
  width: 54px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f67704;
  position: absolute;
  left: 574px;
  top: 34px;
}

.ArticleHeader {
  width: 61px;
  height: 32px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #868686;

  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 692px;
  top: 32px;
}

.Symbol_S {
  display: flex;
  border-radius: 16px;
  position: absolute;
  left: 120px;
  top: 21.5px;
}

.ArticleTitle {
  width: 600px;
  height: 56px;

  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #f67704;
  position: absolute;

  left: 120px;
  top: 176px;
}

.searchBar {
  box-sizing: border-box;
  width: 380px;
  height: 56px;
  background: #ffffff;
  border: 2px solid #ededed;
  border-radius: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  top: 176px;
  left: 940px;
}

.symbolMagnifier {
  position: relative;
  top: 10px;
  left: 30px;
}

.batangSakti {
  position: relative;
  top: -2px;
  left: 45px;
}

.cariArticle {
  position: absolute;
  top: 12px;
  left: 65px;
  width: 34px;
  height: 24px;

  /* Desktop/Text Small */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  /* Grayscale/Placeholder */

  color: #cacaca;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.serbaSerbi {
  position: absolute;
  top: 34px;
  width: 68px;
  height: 28px;
  left: 190px;

  /* Desktop / Link Large */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  /* Primary/Primary */

  color: #f67704;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
