.MiddleColoumn_1 {

  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
}

.MiddleColoumn_2 {

  position: absolute;
  top: 0px;
  right: 240px;
}

.prevPage {
  top: 1835px;
  left: 606px;
  position: absolute;
  width: 29px;
  height: 22px;

  /* Mobile/Text X-Small */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Primary/Primary */

  color: #f67704;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.nextPage {
  top: 1835px;
  left: 804px;
  position: absolute;

  width: 30px;
  height: 22px;

  /* Mobile/Text X-Small */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Primary/Primary */

  color: #f67704;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.borderPageOne {
  top: 1835px;
  left: 687px;
  position: absolute;
  /* border: 2.5px solid #f67704; */
  border-radius: 8px;
  width: 32px;
}

.pageOne {
  width: 5px;
  height: 22px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  display: flex;

  letter-spacing: 0.25px;

  /* Primary/Primary */

  color: #f67704;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  left: 10px;
}

.pageTwo {
  top: 1835px;
  left: 744px;
  position: absolute;
  width: 8px;
  height: 22px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Primary/Primary */

  color: #f67704;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Backend */
.boxColoumn_1 {
  position: relative;
  width: 551px;
  height: 490px;
  /* border: 1px solid red; */
}

.boxColoumn_2 {
  /* top: 50px; */
  position: relative;
  width: 551px;
  height: 461px;
  /* border: 1px solid red; */
}

/* content */

.titleContent {
  width: 500px;
  height: 58px;
  left: 0px;
  top: 10px;

  font-family: "Montserrat SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  
  position: relative;

  /* Content */

  color: #4a4a4a;
  
}

.dateContent {
  position: relative;
  width: 235px;
  height: 32px;

  /* Desktop/Text Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  display: flex;
  letter-spacing: 0.75px;
  /* Grayscale/Label */
  color: #868686;
  top: 16px;
}

.hashtagContent {
  position: relative;
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  color: #404040;
  top: 10px;
}
.link {
}

.descriptionContent {
  position: relative;
  width: 500px;
  height: 64px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #868686;
  top: 8px;
}

.readMoreContent {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  letter-spacing: 0.75px;
  color: #f67704;
  top: 50px;
}

/* experiment backend */

.Backend-box_1 {
  width: 551px;
  height: 490px;
  /* border: 1px solid orange; */
  position: relative;
  top: 336px;
  left: 120px;
}

.img_Backend {
  width: 551px;
  height: 235px;
}
